/* style.css */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

#myGraph, #myGraph-bar, #myGraph-nobel-pie {
    width: 50%;
    height: 400px;
    display: inline-block;
    margin: 20px;
}

